body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #e4ebf5;
  color: #6d5dfc;
}

* {
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  color: inherit;
}

#root {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

/* Navbar starts */

.navbar {
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding: 10px 24px;
  background-color: #e4ebf5;
  box-shadow: 0.8rem 0.8rem 1.4rem rgba(200, 208, 231, 1),
    -0.2rem -0.2rem 1.8rem rgba(255, 255, 255, 1);
}
.navbar .navbar-left {
  font-size: 24px;
}

.navbar .navbar-right {
  margin: 0;
  display: flex;
  list-style: none;
}

.mobile-option {
  display: none;
}
.mobile-menu {
  display: none;
}

.navbar .navbar-right li {
  padding-left: 20px;
  font-size: 18px;
}

.navbar .navbar-right li:hover {
  color: #3db2ff;
}

.login-btn {
  border-radius: 12px;
  border: 1px solid #3db2ff;
  padding: 8px 20px;
  color: #3db2ff;
}
.login-btn:hover {
  color: white;
  background-color: #3db2ff;
}
.signup-btn {
  padding: 8px 20px;
  border-radius: 12px;
  background: #3db2ff;
  color: white;
}

.signup-btn:hover {
  border: 1px solid #3db2ff;
  color: #3db2ff;
  background: white;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 780px) {
  .navbar .navbar-right {
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
  }

  .navbar-right.active {
    background-color: white;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }

  .menu-icon {
    width: 32px;
    height: 32px;
  }
  .menu-icon-x {
    width: 22px;
    height: 22px;
  }
  .navbar .navbar-right li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 30px 0px;
  }

  .mobile-menu {
    display: block;
  }
}

/*-- hero in home page Starts --*/

.hero {
  width: 100%;
  height: 100vh;
}

.hero .hero-content {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
}

.hero .hero-content h1 {
  font-size: 48px;
  font-weight: 700px;
}

.hero .hero-content p {
  margin: 0;
  font-size: 20px;
  padding-top: 10px;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero button {
  margin-top: 50px;
  padding: 8px 20px;
  width: 150px;
  border-radius: 12px;
  background: #3db2ff;
  color: white;
  border: none;
}

/* hero in home page Ends */

/* form */

.form {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

form h1 {
  text-align: center;
  text-transform: uppercase;
  color: #3db2ff;
}

form label {
  margin-bottom: 4px;
}

form input {
  width: 350px;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #3db2ff;
  background-color: White;
}

.form img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -5;
  object-fit: cover;
}

form button {
  text-align: center;
  padding: 8px;
  background-color: #3db2ff;
  color: white;
  border: none;
  border-radius: 8px;
}

form textarea {
  width: 350px;
  height: 100px;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #3db2ff;
  background-color: White;
}

/* Create start */

.create {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.publish-button {
  position: absolute;
  margin-top: 600px;
  width: 350px;
}

/* Youble link custom */
.youtube-link {
  width: 350px;
}

.youtube-link form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.youtube-link form input {
  width: 290px;
  height: 40px;
  border-radius: 8px 0px 0px 8px;
}

.youtube-button {
  width: 60px;
  height: 40px;
  border-radius: 0px 8px 8px 0px;
}

.youtubeBox {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
